<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<context-param>
	<param-name>file-upload</param-name>
	<param-value>D:\videos\</param-value>
	<description>location to store uploaded file</description>
	</context-param>
</web-app>



 

